.filter_button {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #009ade;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}

.slidecontainer {
    width: 100%;
    margin-bottom: 15px;
  }