.filter_button {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #009ade;
    border-radius: 20px;
    color: #fff;
}
.padding_filter {
    padding: 20px;
}
