<app-sort [arrayOfItemsToSort] = 'arrayOfItems' (messageEvent)="receiveMessage($event)"></app-sort>
<div class="sideBar">
  <app-filter [arrayOfItemsToSort] = 'arrayOfItems' (messageEvent)="receiveMessage($event)" (filterEvent)="receiveFilter($event)"></app-filter>
</div>
<div class="main" *ngIf="catalogueLoading === false || filterLoader === false">
  <div class="mobile_width" *ngFor="let items of arrayOfItems">
      <img src="{{items.img_url}}" alt="image" class="image_size">
      <div class="item_details">
        <p class="no_margin_name" [innerHTML]="items.name"></p>
        <div class="display_price">
          <p><em class="fa font-size">&#xf156;</em>
            <strong [innerHTML]="items.discountedPrice" class="margin_gap">
            </strong>
          </p>
          <p *ngIf="items.discount != 0"><em class="fa items_details">&#xf156;</em>
            <del [innerHTML]="items.price" class="margin_gap"></del>
          </p>
          <p *ngIf="items.discount != 0" class="discount_font_color">{{items.discount}}% off</p>
        </div>
        <div class="buttonAlign">
          <button class="cta_addToCart" (click)="addToCart(items.id)">{{buttonName}}</button>
        </div>
      </div>
  </div>
</div>
<div *ngIf="catalogueLoading === true || filterLoader === true" class="loader loader_alignment"></div>